<div ng-controller="MP.PasteAndTranslate.CopyController">
    <div class="umb-dialog-body form-horizontal">
        <div class="umb-pane">

            <ng-form name="copyForm">
                <p class="abstract" ng-hide="success">
                    Choose where to copy <strong>{{currentNode.name}}</strong> to in the tree struture below
                </p>

                <div class="alert alert-error" ng-show="error">
                    <h4>{{error.errorMsg}}</h4>
                    <p>{{error.data.Message}}</p>
                </div>

                <div class="alert alert-success" ng-show="success">
                    <p>
                        <strong>{{currentNode.name}}</strong> was copied to
                        <strong>{{target.name}}</strong>
                    </p>

                    <button class="btn btn-primary" ng-click="nav.hideDialog()">Ok</button>
                </div>

                <div ng-hide="success">
                    <umb-tree section="content"
                              hideheader="false"
                              hideoptions="true"
                              isdialog="true"
                              eventhandler="dialogTreeEventHandler">
                    </umb-tree>


                    <umb-pane>
                        <umb-control-group label="Relate to original">
                            <input type="checkbox" ng-model="$parent.$parent.relateToOriginal" />
                        </umb-control-group>
                    </umb-pane>
                    
                    <div class="umb-pane" style="margin-top: -40px">
                        <div class="control-group umb-control-group" ng-show="showLanguages">
                            <div class="umb-el-wrap">
                                <label class="control-label">From language</label>
                                <div class="controls controls-row">
                                    <select ng-model="fromLanguage" ng-options="language.Name for language in availableFromLanguages" ng-show="availableFromLanguages.length > 1"></select>
                                    <label ng-show="availableFromLanguages.length === 1">{{fromLanguage.Name}}</label>
                                    <label ng-show="availableFromLanguages.length === 0">Cannot translate from node without language in hierarchy</label>
                                </div>
                            </div>
                            <div class="umb-el-wrap">
                                <label class="control-label">To language</label>
                                <div class="controls controls-row">
                                    <select ng-model="toLanguage" ng-options="language.Name for language in availableToLanguages" ng-show="availableToLanguages.length > 1"></select>
                                    <label ng-show="availableToLanguages.length === 1">{{toLanguage.Name}}</label>
                                    <label ng-show="availableToLanguages.length === 0">Cannot translate to node without language in hierarchy</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-form>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
        <a class="btn btn-link" ng-click="nav.hideDialog()">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="copy()" ng-disabled="pendingSelection">
            <localize key="actions_copy">Copy</localize>
        </button>
    </div>
</div>